.button {
  padding-inline: 60px;
  padding-block: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
