@import "./pages";
@import "./components";
@import "./base";
$padding: 30px;
.app {
  padding: $padding;
  background-color: var(--bg-color);
  height: 100vh;
  &-container {
    margin: auto;
    background-color: var(--box-bg-color);
    width: 100%;
    height: 100%;
    border-radius: var(--card-box-radius);
  }
}
