:root {
  --bg-color: #dddddd;
  --box-bg-color: #f7f7f7;
  --white: #fff;
  --light-gray: #8a9fb3;
  --gray: rgb(129, 129, 129);
  --red: #ef0505;
  --color-text: #232a4f;
  --blue: #0798f1;

  --dark-red: #b40404;

  --box-shadow-cont: rgba(167, 173, 179, 0.2) 0px 8px 24px;
  --box-shadow-paper: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --card-box-radius: 15px;
}
